@font-face{
   src: "./Roboto-Regular.tff";
   font-family: "Roboto"
}

*{
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: subpixel-antialiased;
}

body{
   font-family: "Roboto";
   color: white;
   font-size: 14px;
}

::-webkit-scrollbar-thumb{
   background-color: #e9e9e9;
}

::-webkit-scrollbar-button{
   display: none;
}

::-webkit-scrollbar{
   width: 10px;
}

i{
   font-size: 40px;
   padding-left: 5px;
   color: #e6e6e6;
}

i:hover{
   color: #ffffff;
   cursor: pointer;
}

.small-icon{
   font-size: 30px;
}

.tooltip {
   position: relative;
   display: inline-block;
}

.tooltip .tooltiptext {
   visibility: hidden;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px;
   font-size: 14px;
   position: absolute;
   top: 5px;
   left: 105%; 
   z-index: 9999;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
   z-index: 9999;
}

[x-center]{
   text-align: center;
}

[x-divCenter]{
   width:80%;
   margin: 3% 10%;
   padding: 5px;
}

[x-blue]{
   color: blue;
}

[x-red]{
   color: red;
}

[x-aBtn]{
   height: 20px;
   background-color: rgb(245, 242, 242);
   color: black;
   text-decoration: none;
   padding: 3px;
   margin: 15px 40px 0 5px;
}