/* Contains style for main and sidebar */

#main{
   background-color: #0a0a0a;
   width: 100%;
   margin-left: 250px;
   padding: 8px;
   overflow-y: scroll;
}

#sidebar{
   background-color: #1a1a1a;
   max-width: 250px;
}

#main,#sidebar{
   display: inline-block;
   height: 100vh;
   position: fixed;
   z-index: 1;
}

#sidebar>*{
   display:inline-block;
   height: 100vh;
}

#sidebar-icons{
   width: 48px;
   background-color: #141414;
   border-right: 2px solid #3632f1;
   position: fixed;
}

#sidebar-item-view{
   width: 200px;
   margin-left: 50px;
}

#hide-sidebar-view{
   margin-left: 5px;
}

#addContact{
   display: none;
}

.header {
   width: 95%;
   height: 60px;
   font-size: 30px;
   padding: 10px;
   background-color: #2f78ff;
}

input,select{
   height: 25px;
   font-size: 15px;
   border-radius: 2px;
   background-color: #1a1a1a;
   border: 1px solid rgb(71, 70, 70);
   color: white;
}

select{
   border: 0;
   padding: 0;
   outline: 0;
}

input{
   padding-left: 5px;
}

[btn-danger]{
   background-color: red;
}

[btn-blue]{
   background-color: rgb(0, 132, 255);
}

button{
   color: white;
   margin: 10px 0;
   border: 0;
   padding: 5px;
   height: 30px;
   cursor: pointer;
   font-size: 15px;
}

.error-form-container>*{
   color: red;
}