#main{
   background-color: #1a1a1a;
   width: 100%;
   margin-left: 250px;
}

#sidebar{
   background-color: #292828;
   width: 250px;
}

#main,#sidebar{
   display: inline-block;
   height: 100vh;
   position: fixed;
}

#main{
   height: 200vh;
}