#eKeys{
   transform: rotateZ(45deg);
   margin-left: 10px;
}
#eKeys>span{
   transform: rotateZ(-45deg);
}

.eKey-view-key{
   padding: 10px;
   margin: 10px;
   border: 1px solid #b4b4b4;
   width: 60%;
   border-radius: 5px;
}

.contact{
   margin: 10px 10%;
   width: 80%;
   background-color: #262b31;
   padding: 2px;
   cursor: pointer;
   border-radius: 2px;
}
